
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro Pessoa</title>
</head>
<body>
    <div>
        <form action="/Pessoa/Adiciona" method="post">

            <label for="nome">Nome</label>
            <input id="nome" name="pessoa.Nome" />

            <input type="radio" name="cpfoucnpj" value="cpf" checked> CPF
            <input type="radio" name="cpfoucnpj" value="cnpj"> CNPJ
            <input id="cpfoucnpj" name="pessoa.CpfOuCnpj" />

            <label for="rg">RG</label>
            <input id="rg" name="pessoa.RG" />

            <input type="radio" name="pessoa.Sexo" value="masculino" checked> MASCULINO
            <input type="radio" name="pessoa.Sexo" value="feminino"> FEMININO

            <label for="endereco">Endereço</label>
            <input id="endereco" name="pessoa.Endereco" />

            <label for="bairro">Bairro</label>
            <input id="bairro" name="pessoa.Bairro" />

            <label for="numeroResidencia">Número</label>
            <input id="numeroResidencia" name="pessoa.NumeroResidencial" />

            <label for="complemento">Complemento</label>
            <input id="complemento" name="pessoa.Complemento" />

            <label for="cidade">Cidade</label>
            <input id="cidade" name="pessoa.Cidade" />

            <label for="estado">Estado</label>
            <input id="estado" name="pessoa.Estado" />

            <label for="cep">CEP</label>
            <input id="cep" name="pessoa.Cep" />

            <label for="telefone">Telefone</label>
            <input id="telefone" name="pessoa.Telefone" />

            <label for="dataNascimento">Data de nascimento</label>
            <input id="dataNascimento" name="pessoa.DataNascimento" />

            <label for="email">Email</label>
            <input id="email" name="pessoa.Email" />
            
            @*<label for="senha">Senha</label>
            <input id="senha" name="senha" />*@

            <input type="submit" value="Cadastrar" />

        </form>
    </div>
</body>
</html>
