
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Produtos</title>
</head>
<body>
    <div>
        <form action="/Produto/Adiciona" method="post">
            <label for="codigo">Código</label>
            <input id="codigo" name="produto.CodigoProduto" />

            <label for="nome">Nome</label>
            <input id="nome" name="produto.NomeProduto" />

            <label for="valor">Valor</label>
            <input id="valor" name="produto.ValorProduto" />

            <label for="descricao">Descrição</label>
            <input id="descricao" name="produto.DescricaoProduto" />

            <label for="unidadeMedida">Unidade de Medida</label>
            <input id="unidadeMedida" name="produto.IdUnidadeMedida" />

            <label for="medida">Medida</label>
            <input id="medida" name="produto.Medida" />

            <label for="idCategoria">Categoria</label>
            <input id="iCategoria" name="produto.IdCategoria" />

            <label for="ativo">Ativo</label>
            <input id="ativo" name="produto.AtivoNaoAtivo" />
        </form>
    </div>
</body>
</html>
