
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Categoria</title>
</head>
<body>
    <div>
        <form action="/Categoria/Adiciona" method="post">
            <label for="tipo">Tipo da categoria</label>
            <input id="tipo" name="categoria.TipoCategoria" />

            <input type="submit" value="Cadastrar" />
        </form>
    </div>
</body>
</html>
