
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome da categoria</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var categoria in ViewBag.Categorias)
                {
                    <tr>
                        <td>@categoria.IdCategoria</td>
                        <td>@categoria.TipoCategoria</td>
                    </tr>
                }
            </tbody>
        </table>
