
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <form action="/Login/Autenticacao" method="post">

            <label for="login">CPF ou CNPJ</label>
            <input type="text" id="login" name="login" class="form-control" />

            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" class="form-control />

            <input type="submit" value="Login" />
        </form>
    </div>
</body>
</html>
