
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Usuario</title>
</head>
<body>
    <div>
        <form action="Usuario/Adiciona" method="post">

            <label for="login">Login</label>
            <input id="login" name=""
        </form>
    </div>
</body>
</html>
