
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Unidade de Medida</title>
</head>
<body>
    <div>
        <form action="/UnidadeMedida/Adiciona" method="post">
            <label for="tipo">Tipo de unidade de medida</label>
            <input id="tipo" name="unidadeMedida.TipoUnidadeMedida" />

            <input type="submit" value="Cadastrar" />
        </form>
    </div>
</body>
</html>
