
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tipo de unidade de medida</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var unidade in ViewBag.UnidadeMedidas)
                {
                    <tr>
                        <td>@unidade.IdUnidadeMedida</td>
                        <td>@unidade.TipoUnidadeMedida</td>
                    </tr>
                }
            </tbody>
        </table>
